body {
  margin: 0;
  font-family: "Helvetica", sans-serif;
  color: rgba(60, 60, 60, 1);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main.Page {
  padding: 20px;
}
